<div class="row mt-2"></div>

<div class="d-none row justify-content-center addProductContainer">
    <button type="button" class="btn btn-outline-primary  w-25" data-bs-toggle="modal"
        data-bs-target="#addProductsModel">
        Add Product
    </button>
</div>

<div class="row justify-content-center align-items-center h-100 loaderContainer">
    <div class="col d-flex justify-content-center align-items-center">
        <img src="/image/loader.svg" width="100" height="100" id="pageLoader" alt="" srcset="">
    </div>
</div>

<div class="d-none row mt-5 mx-1 productsTableContainer">
    <div class="table-responsive">
        <table class="table table-bordered " id="productsTable">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Product Type</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="addProductsModel" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">
                    Add Product
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="addProductForm" class="row">
                    <div class="form-floating mb-3 col-12">
                        <input type="text" class="form-control" name="productName" id="productName" placeholder="" />
                        <label for="productName">Product Name</label>
                    </div>

                    <div class="form-floating mb-3 col-6">
                        <select class="form-select form-select-lg" name="category" id="category">
                            <option selected>Select Category</option>
                        </select>
                        <label for="category">Category Name</label>
                    </div>

                    <div class="form-floating mb-3 col-6">
                        <select class="form-select form-select-lg" name="productType" id="productType">
                            <option selected>Select Type</option>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                        </select>
                        <label for="productType">Product Type</label>
                    </div>

                    <div class="col d-flex justify-content-center buttonSubmitContainer">
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                        <img src="/image/loader.svg" class="d-none loader" alt="" srcset="">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- delete Product Modal -->
<div class="modal fade" id="delelteProduct" tabindex="-1" aria-labelledby="delelteProductLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delelteProductLabel">Delete Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="delelteProductForm" class="row justify-content-center"
                    action="<?= CONTROLLERS_URL ?>Admin/ProductController.php?action=deleteProduct" method="post">
                    <div id="idContainer" class="form-floating mb-3 d-none">
                        <input type="text" class="form-control " name="id" id="id" placeholder="id like 120182201095"
                            readonly>
                        <label for="id">Id</label>
                    </div>

                    <div id="message" class="row my-2 justify-content-center"></div>
                    <button type="submit" class="btn btn-danger w-50">Delete Product</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/javascript/dashboard.js"></script>