<!-- content -->
<!-- flag -->
<div class="row flag my-5 justify-content-center">
    <img src="image/Flag_of_Palestine.gif" class="w-25" width="70" height="70" alt="flage" srcset="">
</div>


<div class="row searchLoader">
    <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 24 24">
        <circle cx="12" cy="2" r="0" fill="black">
            <animate attributeName="r" begin="0" calcMode="spline" dur="1s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
        </circle>
        <circle cx="12" cy="2" r="0" fill="black" transform="rotate(45 12 12)">
            <animate attributeName="r" begin="0.125s" calcMode="spline" dur="1s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
        </circle>
        <circle cx="12" cy="2" r="0" fill="black" transform="rotate(90 12 12)">
            <animate attributeName="r" begin="0.25s" calcMode="spline" dur="1s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
        </circle>
        <circle cx="12" cy="2" r="0" fill="black" transform="rotate(135 12 12)">
            <animate attributeName="r" begin="0.375s" calcMode="spline" dur="1s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
        </circle>
        <circle cx="12" cy="2" r="0" fill="black" transform="rotate(180 12 12)">
            <animate attributeName="r" begin="0.5s" calcMode="spline" dur="1s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
        </circle>
        <circle cx="12" cy="2" r="0" fill="black" transform="rotate(225 12 12)">
            <animate attributeName="r" begin="0.625s" calcMode="spline" dur="1s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
        </circle>
        <circle cx="12" cy="2" r="0" fill="black" transform="rotate(270 12 12)">
            <animate attributeName="r" begin="0.75s" calcMode="spline" dur="1s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
        </circle>
        <circle cx="12" cy="2" r="0" fill="black" transform="rotate(315 12 12)">
            <animate attributeName="r" begin="0.875s" calcMode="spline" dur="1s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
        </circle>
    </svg>
</div>

<div class="row d-none search">
    <div class="col-12  d-flex justify-content-center">
        <select class="js-example-basic-single w-50" id="selctBox" name="state">
        </select>
    </div>
    <div class="col-12 d-flex justify-content-center mt-2">
        <button type="button" id="testProudct" class="btn btn-outline-primary w-25">
            Search
        </button>
    </div>
</div>
<div class="row justify-content-center mt-2 hamas d-none">
    <svg class="triangle" xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 24 24">
        <path fill="red" d="M1 21h22L12 2"></path>
    </svg>
</div>

<div class="row resultLoader mt-3 d-none">
    <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 24 24">
        <circle cx="12" cy="2" r="0" fill="black">
            <animate attributeName="r" begin="0" calcMode="spline" dur="1s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
        </circle>
        <circle cx="12" cy="2" r="0" fill="black" transform="rotate(45 12 12)">
            <animate attributeName="r" begin="0.125s" calcMode="spline" dur="1s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
        </circle>
        <circle cx="12" cy="2" r="0" fill="black" transform="rotate(90 12 12)">
            <animate attributeName="r" begin="0.25s" calcMode="spline" dur="1s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
        </circle>
        <circle cx="12" cy="2" r="0" fill="black" transform="rotate(135 12 12)">
            <animate attributeName="r" begin="0.375s" calcMode="spline" dur="1s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
        </circle>
        <circle cx="12" cy="2" r="0" fill="black" transform="rotate(180 12 12)">
            <animate attributeName="r" begin="0.5s" calcMode="spline" dur="1s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
        </circle>
        <circle cx="12" cy="2" r="0" fill="black" transform="rotate(225 12 12)">
            <animate attributeName="r" begin="0.625s" calcMode="spline" dur="1s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
        </circle>
        <circle cx="12" cy="2" r="0" fill="black" transform="rotate(270 12 12)">
            <animate attributeName="r" begin="0.75s" calcMode="spline" dur="1s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
        </circle>
        <circle cx="12" cy="2" r="0" fill="black" transform="rotate(315 12 12)">
            <animate attributeName="r" begin="0.875s" calcMode="spline" dur="1s"
                keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                values="0;2;0;0" />
        </circle>
    </svg>
</div>
<div class="container w-50 result mt-3  d-none">
    <div class="row justify-content-center ">
        <div class="col-12 my-2 text-center">Product Name: <span class="productName">Matrex</span></div>
        <div class="col-12 catigory my-2 text-center"> Product Type: <span class="productType"></span></div>
        <div class="col-12 catigory my-2 text-center test"><button type="button" id="test">test</button></div>

    </div>
</div>
<script src="/javascript/products.js"></script>

<script>

    async function fetchData() {
        try {
            const response = await $.ajax({
                url: '/getProducts',
                method: 'GET',
                dataType: 'json'
            });

            let data = []
            data[0] = JSON.parse(response.data)
            $('#myTable').DataTable({
                data: data,
            });
        } catch (error) {
            console.error('Error fetching data:', error);
        }
    }

    // Call the fetchData function to populate the table with data from the API
    // fetchData();
    var endRequest = true;
    const fetchProducts = async () => {
        try {
            const response = await $.ajax({
                url: '/getAllProductNames',
                method: 'GET',
                dataType: 'json'
            });
            $(".search").removeClass("d-none")
            $(".searchLoader").addClass("d-none")
            $('#selctBox').append(`<option value="">Please Write Product Name</option>`);
            response.data.sort();
            response.data.forEach(productName => {
                $('#selctBox').append(`<option value="${productName}">${productName}</option>`);
            });

            $('#selctBox').select2()

        } catch (error) {
            console.error('Error fetching data:', error);
        }
    }
    const fetchCategories = async () => {
        try {
            const response = await $.ajax({
                url: '/getAllCategories',
                method: 'GET',
                dataType: 'json'
            });
            response.categories.sort();
            response.categories.forEach(category => {
                $('.categoriesUrl').append(`           
          <li class="nav-item mb-2">
            <a data-ajax="${category}" href="javascript:void(0)" class="nav-link categoryLinks" aria-current="page">
              ${category}
            </a>
          </li>`);
            });
            onClickCategoryLinks()
        } catch (error) {
            console.error('Error fetching data:', error);
        }
    }
    const onClickCategoryLinks = () => {
        $(".categoryLinks").off("click")
        $(".categoryLinks").on("click", function () {
            if (!endRequest) return 0;

            endRequest = false;

            $(".categoriesUrl > li a").removeClass("active")
            $(this).addClass("active")
            let ajaxUrl = $(this).attr("data-ajax");

            var settings = {
                "url": "/getProductsByCategory",
                "method": "POST",
                "timeout": 0,
                "headers": {
                    "Content-Type": "application/json"
                },
                "data": JSON.stringify({
                    "categoryName": ajaxUrl
                }),
            };
            $("#content").html(`
                <div class="row h-100 justify-content-center align-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="90px" height="90px" viewBox="0 0 24 24">
                    <circle cx="12" cy="2" r="0" fill="black">
                    <animate attributeName="r" begin="0" calcMode="spline" dur="1s"
                        keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                        values="0;2;0;0" />
                    </circle>
                    <circle cx="12" cy="2" r="0" fill="black" transform="rotate(45 12 12)">
                    <animate attributeName="r" begin="0.125s" calcMode="spline" dur="1s"
                        keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                        values="0;2;0;0" />
                    </circle>
                    <circle cx="12" cy="2" r="0" fill="black" transform="rotate(90 12 12)">
                    <animate attributeName="r" begin="0.25s" calcMode="spline" dur="1s"
                        keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                        values="0;2;0;0" />
                    </circle>
                    <circle cx="12" cy="2" r="0" fill="black" transform="rotate(135 12 12)">
                    <animate attributeName="r" begin="0.375s" calcMode="spline" dur="1s"
                        keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                        values="0;2;0;0" />
                    </circle>
                    <circle cx="12" cy="2" r="0" fill="black" transform="rotate(180 12 12)">
                    <animate attributeName="r" begin="0.5s" calcMode="spline" dur="1s"
                        keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                        values="0;2;0;0" />
                    </circle>
                    <circle cx="12" cy="2" r="0" fill="black" transform="rotate(225 12 12)">
                    <animate attributeName="r" begin="0.625s" calcMode="spline" dur="1s"
                        keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                        values="0;2;0;0" />
                    </circle>
                    <circle cx="12" cy="2" r="0" fill="black" transform="rotate(270 12 12)">
                    <animate attributeName="r" begin="0.75s" calcMode="spline" dur="1s"
                        keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                        values="0;2;0;0" />
                    </circle>
                    <circle cx="12" cy="2" r="0" fill="black" transform="rotate(315 12 12)">
                    <animate attributeName="r" begin="0.875s" calcMode="spline" dur="1s"
                        keySplines="0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8;0.2 0.2 0.4 0.8" repeatCount="indefinite"
                        values="0;2;0;0" />
                    </circle>
                </svg>
                </div>`);
            $.ajax(settings).done(function (response) {
                $("#content").html(JSON.stringify(response))
                endRequest = true;

            });
        })
    }
    const initContentHeight = () => {
        let windowHeight = $(window).height();
        let navHeight = $(".navbarc").height();
        let contentHeight = windowHeight - navHeight;
        $(".contentData").css("height", contentHeight)
    }
    $(() => {
        initContentHeight();
        fetchProducts();
        fetchCategories();
        $(window).on("resize", function () {
            initContentHeight();
        })


    })
</script>