.triangle {
  transform: rotate(180deg);
}

body {
  /* background-color: gray; */
  height: 100vh;
}

.hu {
  background-color: white;
  border-radius: 100%;
}

.navbarc {
  box-shadow: 1px 1px 23px #000;
}

.content {
  height: 100%;
}

.goodProduct {
  border: 1px green solid;
  border-radius: 7px;
  background-color: rgba(0, 255, 0, 0.2);
  box-shadow: 3px 3px 12px #707070;
}

.padProduct {
  border: 1px red solid;
  border-radius: 7px;
  background-color: rgba(255, 0, 0, 0.2);
  box-shadow: 3px 3px 12px #707070;
}


.hamas {
  animation: updown 1500ms infinite;
  transform: translateY(10px);
}

@keyframes updown {
  0% {
    transform: translateY(0px);

  }

  50% {
    transform: translateY(10px);

  }

  100% {
    transform: translateY(0px);

  }
}